Trip Type Walmart

Describe the feature space
1. What's the size of it
2. Type of each variable, numeric vs categorical
3. Univariate plot (Histogram, density plot etc.)

Plot Y vs. X

In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [19]:
train = pd.read_csv('train.csv', dtype={'Upc':object})

In [20]:
train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,68113152929,-1,FINANCIAL SERVICES,1000
1,30,7,Friday,60538815980,1,SHOES,8931
2,30,7,Friday,7410811099,1,PERSONAL CARE,4504
3,26,8,Friday,2238403510,2,PAINT AND ACCESSORIES,3565
4,26,8,Friday,2006613744,2,PAINT AND ACCESSORIES,1017

In [21]:
train.tail()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
647049,39,191346,Sunday,32390001778,1,PHARMACY OTC,1118
647050,39,191346,Sunday,7874205336,1,FROZEN FOODS,1752
647051,39,191346,Sunday,4072,1,PRODUCE,4170
647052,8,191347,Sunday,4190007664,1,DAIRY,1512
647053,8,191347,Sunday,3800059655,1,GROCERY DRY GOODS,3600

In [22]:
print train.shape

(647054, 7)

In [23]:
train.dtypes

TripType                   int64
VisitNumber                int64
Weekday                   object
Upc                       object
ScanCount                  int64
DepartmentDescription     object
FinelineNumber           float64
dtype: object

In [6]:
train['Weekday'].value_counts()

Sunday       133975
Saturday     122096
Friday        96247
Monday        83130
Tuesday       72529
Wednesday     71115
Thursday      67962
Name: Weekday, dtype: int64

In [7]:
train_by_visitnum = train.groupby(by='VisitNumber')

In [8]:
train_by_visitnum_size = train_by_visitnum.size()
train_by_visitnum_size.describe([.25, .5, .75, .95])

count    95674.000000
mean         6.763112
std          8.531894
min          1.000000
25%          2.000000
50%          4.000000
75%          8.000000
95%         24.000000
max        209.000000
dtype: float64

In [ ]:
train.VisitNumber.value_counts().plot('bar')

In [ ]:
big_visits = train_by_visitnum_size[train_by_visitnum_size > 24.0]
print(big_visits.head())

In [ ]:
train[train.ScanCount!=1]['ScanCount'].hist(bins=100)

In [ ]:
print train['ScanCount'].value_counts()

- TripType Count

In [ ]:
trainByVisit = train.drop_duplicates('VisitNumber')[['TripType','VisitNumber','Weekday']]
trainByVisit['TripType'].value_counts().plot(kind='bar')

In [ ]:
train['TripType'].value_counts().plot(kind='bar')

In [ ]:
print train.isnull().any()

In [ ]:
print train[pd.isnull(train['Upc'])].head()

In [ ]:
trainWithNa = train[pd.isnull(train['Upc'])]

- TripType Count when upc is missing

In [ ]:
trainWithNa['TripType'].value_counts().plot(kind='bar')

In [ ]:
triptypeNaGrouped = trainWithNa.drop_duplicates('VisitNumber')
triptypeNaGrouped['TripType'].value_counts().plot(kind='bar')

In [ ]:
print trainWithNa[trainWithNa.ScanCount<0]['TripType'].value_counts()

In [ ]:
print trainWithNa[trainWithNa.TripType==999]['ScanCount'].value_counts()

In [ ]:
returnPharmacy = trainWithNa[trainWithNa.ScanCount<0][pd.notnull(trainWithNa.DepartmentDescription)]
print returnPharmacy['TripType'].value_counts()

In [5]:
train.DepartmentDescription.value_counts()

GROCERY DRY GOODS              70402
DSD GROCERY                    68332
PRODUCE                        51115
DAIRY                          43820
PERSONAL CARE                  41969
IMPULSE MERCHANDISE            28712
HOUSEHOLD CHEMICALS/SUPP       24880
PHARMACY OTC                   23306
FROZEN FOODS                   21101
HOUSEHOLD PAPER GOODS          16274
COMM BREAD                     15244
BEAUTY                         14865
MENS WEAR                      12250
FINANCIAL SERVICES             10723
INFANT CONSUMABLE HARDLINES    10646
SERVICE DELI                   10127
CANDY, TOBACCO, COOKIES         9808
PETS AND SUPPLIES               9761
MEAT - FRESH & FROZEN           9477
PRE PACKED DELI                 9052
LADIESWEAR                      8721
CELEBRATION                     8698
COOK AND DINE                   7600
BAKERY                          7168
OFFICE SUPPLIES                 6578
HOME MANAGEMENT                 6349
TOYS                            6107
SHOES                           6099
INFANT APPAREL                  6051
AUTOMOTIVE                      5414
                               ...
LIQUOR,WINE,BEER                3861
ELECTRONICS                     3190
PHARMACY RX                     2922
HORTICULTURE AND ACCESS         2893
JEWELRY AND SUNGLASSES          2526
SLEEPWEAR/FOUNDATIONS           2376
BEDDING                         2307
BRAS & SHAPEWEAR                2036
MEDIA AND GAMING                1993
SEAFOOD                         1923
WIRELESS                        1898
PAINT AND ACCESSORIES           1720
ACCESSORIES                     1318
BOOKS AND MAGAZINES              992
SWIMWEAR/OUTERWEAR               860
LADIES SOCKS                     775
PLAYERS AND ELECTRONICS          686
PLUS AND MATERNITY               591
OPTICAL - FRAMES                 579
FURNITURE                        477
SHEER HOSIERY                    434
1-HR PHOTO                       394
MENSWEAR                         338
CAMERAS AND SUPPLIES             221
OPTICAL - LENSES                  85
LARGE HOUSEHOLD GOODS             77
CONCEPT STORES                    35
SEASONAL                          29
OTHER DEPARTMENTS                 29
HEALTH AND BEAUTY AIDS             2
Name: DepartmentDescription, dtype: int64

In [11]:
train_produce = train[train.DepartmentDescription == 'BOOKS AND MAGAZINES']

In [13]:
train_produce.head(50)

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
145,20,69,Friday,7.480851e+09,1,BOOKS AND MAGAZINES,19
147,20,69,Friday,7.148601e+09,1,BOOKS AND MAGAZINES,324
372,21,185,Friday,7.165804e+09,1,BOOKS AND MAGAZINES,365
423,42,214,Friday,9.781405e+11,1,BOOKS AND MAGAZINES,2120
1381,40,592,Friday,7.098937e+09,1,BOOKS AND MAGAZINES,320
5417,9,2015,Friday,9.256710e+09,1,BOOKS AND MAGAZINES,8203
8969,19,3120,Friday,9.780830e+11,2,BOOKS AND MAGAZINES,2120
9193,39,3179,Friday,7.482065e+09,1,BOOKS AND MAGAZINES,8204
9195,39,3179,Friday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
13539,40,4470,Friday,7.482065e+09,1,BOOKS AND MAGAZINES,8204
13620,39,4493,Friday,9.780393e+11,1,BOOKS AND MAGAZINES,1970
15185,36,4958,Friday,7.244010e+09,1,BOOKS AND MAGAZINES,8204
16836,33,5446,Friday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
18183,42,5798,Friday,8.826630e+10,1,BOOKS AND MAGAZINES,264
18244,39,5815,Friday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
18513,44,5869,Friday,7.482009e+09,1,BOOKS AND MAGAZINES,20
20641,43,6548,Saturday,7.244010e+09,1,BOOKS AND MAGAZINES,8203
21104,24,6721,Saturday,9.256710e+09,1,BOOKS AND MAGAZINES,8204
21105,24,6721,Saturday,7.165802e+09,1,BOOKS AND MAGAZINES,8204
21107,24,6721,Saturday,7.447001e+09,1,BOOKS AND MAGAZINES,365
21545,9,6832,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
22052,40,7009,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
22220,21,7063,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
22223,21,7063,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8204
22384,39,7096,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
22390,33,7098,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
22400,33,7098,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8204
23077,43,7290,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
23187,9,7313,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
25112,9,7860,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
25915,39,8090,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
26239,44,8182,Saturday,7.244010e+09,1,BOOKS AND MAGAZINES,8203
26291,42,8206,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
26299,42,8206,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
26868,42,8320,Saturday,7.485109e+09,1,BOOKS AND MAGAZINES,8203
26874,42,8320,Saturday,7.485109e+09,1,BOOKS AND MAGAZINES,8204
26992,9,8351,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
27682,8,8558,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
27689,40,8562,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8204
27885,9,8631,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
28255,41,8754,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
28472,44,8804,Saturday,7.252745e+10,1,BOOKS AND MAGAZINES,8203
28477,44,8804,Saturday,9.281510e+08,1,BOOKS AND MAGAZINES,8203
28478,44,8804,Saturday,7.148651e+09,1,BOOKS AND MAGAZINES,8203
28806,39,8903,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
29299,37,9033,Saturday,7.482065e+09,1,BOOKS AND MAGAZINES,8203
30748,44,9399,Saturday,8.826630e+10,1,BOOKS AND MAGAZINES,264
30826,38,9425,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
31462,7,9602,Saturday,7.220110e+10,1,BOOKS AND MAGAZINES,777
31735,9,9671,Saturday,6.282600e+09,1,BOOKS AND MAGAZINES,27

In [24]:
upcs = train.Upc

In [25]:
type(upcs
    )

pandas.core.series.Series

In [17]:
s='some'

In [27]:
s[0:2]

'so'

In [ ]:
s.

In [29]:
upcs[1:5]

1    60538815980
2     7410811099
3     2238403510
4     2006613744
Name: Upc, dtype: object

In [33]:
upc5 = upcs.str.slice(0,5)

In [39]:
tropicana = train[upc5=='48500']

In [43]:
tropicana.TripType.value_counts()

40     329
38     180
39     154
37      76
8       45
7       25
44      17
32      12
25      12
33      11
24      10
42      10
35      10
999      9
36       9
5        8
41       7
15       7
26       5
34       4
43       4
9        4
6        3
20       3
27       2
22       2
19       2
18       2
29       1
30       1
31       1
4        1
Name: TripType, dtype: int64